.main_head {
  padding: 20px 60px;
}

.main_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.main_call_reporting {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.main_call_title {
  color: var(
    --Gradient-01,
    linear-gradient(124deg, #0c1523 31.78%, #6b6e86 63.45%)
  );
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 106%;
}

.main_step_call {
  color: var(--Neutral-07, #0c1523);

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.main_request button {
  border-radius: 8px;
  border: none;
  background: var(--Theme-Colors-Primary, #4c3dff);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  outline: none;
  color: #ffffff;
}

.main_ownership {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 20px 60px;
}

.main_ownership_card {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.main_ownership_logo {
  width: 40px;
  height: 40px;
  background-color: #ebedfe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main_ownership_textwrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

.main_ownership_title {
  color: var(--Neutral-07, #0c1523);
  font-size: 1.6rem;
  font-weight: 600;
}

.main_ownership_desc {
  color: var(--Neutral-06, #3c4147);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1150px) {
  .main_hero_logo img {
    height: 400px;
    width: 400px;
  }

  .main_call_title {
    font-size: 3.5rem;
  }

  .main_step_call {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 900px) {
  .main_hero_logo img {
    height: 300px;
    width: 300px;
  }

  .main_ownership_title {
    font-size: 0.8rem;
  }

  .main_ownership_desc {
    font-size: 0.5rem;
  }
}

.main_step_call_m,
.main_request_m {
  display: none;
}

@media screen and (max-width: 700px) {
  .main_head {
    padding: 10px;
  }

  .main_hero_logo img {
    height: 300px;
    width: 300px;
  }

  .main_wrap {
    flex-direction: column;
  }

  .main_call_title {
    text-align: center;
    font-size: 2.5rem;
  }

  .main_step_call,
  .main_request {
    display: none;
  }
  .main_step_call_m,
  .main_request_m {
    display: block;
    width: 100%;
  }

  .main_step_call_m {
    font-size: 0.7rem;
  }

  .main_request_m {
    padding-top: 20px;
  }

  .main_request_m button {
    border-radius: 8px;
    border: none;
    background: var(--Theme-Colors-Primary, #4c3dff);
    padding: 10px;
    display: flex;
    float: right;
    align-items: center;
    gap: 0.2rem;
    outline: none;
    color: #ffffff;
  }

  .main_ownership {
    flex-direction: column;
    background: var(--Background-Light, #f3f7fa);
    align-items: baseline;
  }
}
